// Place all the styles related to the Maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.google-map-canvas,
.google-map-canvas * { width:100%; height:500px; }

#map img { 
  max-width: none;
}

#map label { 
  width: auto; display:inline; 
}

#screenDIV ul, #screenDIV ol {
	list-style: none;
    margin: 0px;
    padding: 0px
}

html, body, .mapDIV, .panoDIV {
	height: 100%; 
}

.mapDIV, .panoDIV {
	width: 99%; 
	border: 2px solid lightgrey;
}

.mapSection {
	margin-left: 0;
	padding-left: 0;
	text-align: top; 
	width: 800px; 
	height: 500px;
}

.btnDIV {
	margin-bottom: 25px;
}

#map_location {
	width: 400px;
}

.infoboxStyle {
	position: relative; 
	color: white;
	opacity: 0.9;
	font-size: small;
	border: 2px solid #ededed; 
	border-radius:  10px;
	margin-top: 8px; 
	padding: 5px; 

	background: rgb(69,72,77); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

}

.infoboxStyle:after, .infoboxStyle:before { 
	bottom: 100%; 
	left: 46.4%; 
	border: solid transparent; 
	content: " "; 
	height: 0; 
	width: 0; 
	position: absolute; 
	pointer-events: none;
} 

.infoboxStyle:after { 
	border-color: rgba(69, 72, 77, 0); 
	border-bottom-color: #45484d; 
	border-width: 10px; 
	margin-left: -10px; 
} 

.infoboxStyle:before { 
	border-color: rgba(237, 237, 237, 0); 
	border-bottom-color: #ededed; 
	border-width: 11px; 
	margin-left: -11px; 
}

.markerSize {
	width: 32px;
	height: 32px;
}

.mapSidebar {
	height: 450px; 
	max-height: 450px; 
	overflow: auto; 
	margin-left: -20px;
}

.mapEventName {
	font-size: medium;
	color: #450104;
	font-weight: bold;
}

.mapEventLocation {
	margin-left: 11px;
	font-size: small;
}

.mapEditDelete {
	margin-left: 11px;
	font-size: inherit;
}

#RouteDirTitle {
	color: navy;
	text-shadow:5px 5px 10px yellow;
}

.gm-title {
	font-weight: bold;
	font-size: medium;
}

.gm-more {
	margin-left: 5px;
	font-size: small;
	font-weight: normal;
}

.gm-basicinfo {
	width: 180px;	
	clear:both;
	padding-top: 15px;
}

.gm-website a:link, .gm-website a:visited, .gm-more a:link, .gm-more a:visited {
	color: #FFF782;
}

.gm-website a:hover, .gm-more a:hover {
	color: #FFFFFF;
}

.gm-rating {
	color: #FA5757;	
	float: left;
	margin-right: 2px;
}

.gm-stars-b {
	position:relative;
	background-position:0 0;
	width:65px;
	top:3px;
	margin:0 5px
}

.gm-stars-f, .gm-stars-b {
	background:url("http://maps.gstatic.com/mapfiles/api-3/images/review_stars.png") no-repeat;
	background-size: 65px 26px;
	height:13px;
	font-size:0;
	float:left;
}

.gm-stars-f {
	background-position:left -13px;
}

.gm-photos {
	padding-bottom:8px;
	padding-top: 20px;
	-ms-user-select:none;
	-moz-user-select:none;
	-webkit-user-select:none;
}

.gm-wsv{
	cursor:pointer;
	position:relative;
	overflow:hidden;
	border: 2px inset darkgrey;
}

.gm-sv-label {
	cursor:pointer;
	position:absolute;
	bottom:6px;
	color: blue;
	font-weight:400;
	text-shadow:rgba(0,0,0,0.7) 0 1px 4px;
	font-size:12px
}

.modal.fade {
  left: 270px;
  top:  0;
  width: 450px;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
       -o-transition: opacity 0.3s linear, left 0.3s ease-out;
          transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.fade.in {
  left: 22%;
  top: 0;
}

#mode {
	position: absolute;
	top: 7px;
	right: 160px;
	width: 87px;
	height: 26px;
	z-index: 1;
	font-size: small;
	font-weight: 600;
}

#myloc {
	position: absolute;
	top: 5px;
	left: 500px;
	z-index: 2;
}

#newloc {
	z-index:10;
}



